/* GLOBAL */
body{
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", sans-serif ;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* NAVBAR */
#Top_Header{
    width: 100%;
    height: 70px;
    background-color: #F1CF91;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;

}

#Top_Header > h1 {
    margin: 0;
}

#navbar {
    background-color: #F1CF91;
    width: 80%;
    height: 60px;
    margin: 0 auto;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: auto;

    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);

}

#navbar a{
    height: 100%;
    flex-basis: 100%;

    color: initial;
    text-decoration: none;
    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.5s ease ;
}

#navbar a:hover {
    background-color: #ffdf8a;
    box-shadow:
            4px 0 4px rgba(0, 0, 0, 0.25),
            -4px 0 4px rgba(0, 0, 0, 0.25);
}

.Burger_Icon  {
    display: none;
}
.Burger_Icon i {
    cursor: pointer;
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1;
}

/* Index */

.resturant-information {
    margin-left: 10%;
    width: 30%;
    height: 500px;
    background-color: #ffdf8a;
}

.resturant-image {
    display: block;
    width: 75%;
    height: auto;
    margin: auto;
    margin-top: 10%;
    padding-top: 5%;
    overflow-y: hidden;
    
}

.resturant-description {
    margin:auto;
    width: 80%;
}

.slideshowimage {
    height: 40vh;
    width: 40vw;
    object-fit: cover;
}

.slideshow-area {
    position: absolute;
    top: 300px;
    right: 12%;
  }
  
  .mySlides {
    display: none;
  }
  
  .prev, .next{
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
  }
  
  .next {
    right: 0;
  }

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
@media screen and (max-width: 800px){
    #Top_Header {
        position: absolute;
    }

    .Burger_Icon {
        display: block;
        position: absolute;
        right: 20px;
        font-size: 30px;
    }
    #navbar {
        align-items: center;
        justify-content: space-around;
        flex-direction: column;

        margin: 0;
        float: right;
        width: 33%;
        height: 300px;

        transition: .5s ease-out;
        z-index: 1;

        transform: translateY(-370px);
    }
    #navbar a{
        z-index: 1;
    }

    #navbar > *{
        width: 100%;
        height: 20px;
    }
    #chk:checked ~ #navbar{
        transform: translateY(70px);

    }
}

/*...Booking...*/
    input {
        background-color: #ccc;
        height: 50px;
        border: none;
        margin-bottom: 20px;
    }

    input[type=text] {
        height: 50px;
        border: none;
        width: 100%;
    }

    input[type=email] {
        height: 50px;
        border: none;
        width: 100%;
    }

    input[type=date] {
        height: 50px;
        border: none;
        width: 60%;
    }

    input[type=number] {
        height: 50px;
        border: none;
        width: 20%;
        margin-left: 10%;
    }

    button {
        font-size: 20px;
        width: 40%;
        background-color: #ccc;
    }

    button:hover {
        background-color: #bbb;
    }

    .details {
        position: absolute;
        top: 200px;
        left: 25%;
        width: 50%;
    }

    .confirmation {
        display: none;
        width: 50%;
        height: 40%;
        background-color: white;
        border: black 5px solid;
        position: fixed;
        top: 20%;
        right: 25%;
        font-size: 20px;
    }

    #textconf {
        height: 50%;
        width: 80%;
        margin: auto;
        margin-top: 10%;
        text-align: center;
    }

    #closebutton {
        margin-left: 30%;
    }

/*...Gallery...*/
#mainContent p, #mainContent h1 {
    margin: 0 0 0 10px;


}

#mainContent {
    top: 16vh;
    position: absolute;
    z-index: -999;
}



/* Image container*/
#imageContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 15px;
    grid-auto-rows: 1fr;
    grid-auto-flow: row dense;
    margin: 1%;
}
#imageContainer::before{
    content: "";
    padding-bottom: 100%;
    grid-area: 1/1;
}
#imageContainer > img:first-child{
    grid-area: 1/1;
}
#imageContainer > img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
}
/*Modal element*/

#modal{
    display: none;
    position: fixed;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
}
#modalWrapper{
    width: 80vw;
    height: 80vh;
    margin: 10vh auto auto auto;
}
#modalImage{
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    object-fit: contain;
}

/*footer*/
#pageFooter{
	postion: fixed;  
	bottom: 0px;
    	left: 0px;
   	right: 0px;
    	margin-bottom: 0px; 
	height: 20%; 
	width: 100%;
	text-align: center;
	background: #f1cf91;
	
}


